<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
</head>
<body>
<div id="container" ng-app="hangmanApp">
    <div ng-controller="keyboardController">
        <div class="box">
            <img src="images/img{{ imgUrl }}.png"/>
        </div>
        <div class="box main_data">
            <p>{{ ultimateWord }} </p>
            <p>prompt: {{ currentPrompt }} </p>
            <p style="color:green">points: {{ subpoint }}</p>
            <p style="color:red">errors: {{ error }}</p>
            <p>mainPoint: {{ mainPoint }}</p>
        </div>
        <div class="box">
            <ul class="keyboard">
                <li ng-repeat="key in keys">
                    <md-button class="raised" id="button{{ key }}" ng-click="pressKey(key)">{{ key }}</md-button>
                </li>
            </ul>
        </div>

    </div>
</div>

<script src="scripts/main.js"></script>
</body>
</html>