<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>
<body>
<div id="container" ng-app="hangmanApp">
    <div class="box keyboard" ng-controller="keyboardController">
        <p id="singleKey"></p>
        <p>{{ words }}</p>
        <p>{{ singleWord }}</p>


        <ul>
            <li ng-repeat="key in keys">
                <button ng-click="pressKey(key)">{{ key }}</button>
            </li>
        </ul>
    </div>
</div>

<script src="scripts/main.js"></script>
</body>
</html>